*{
    padding: 0px;
    margin: 0px;
}
header::before{
    content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-970-80.jpg.webp");
  background-size: cover;
  filter: brightness(30%); /* Apply brightness here */
  z-index: -1; /* Place the pseudo-element behind the content */
}


.navdiv{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
}
.svg1{
    width: 10vw;
    position: relative;
    left: 7vw;
    color: rgb(229, 9, 20);
    fill: currentColor;
    box-shadow: 0px 0px 10px black;
}
.svg2{
    color: white;
    width: 20px;
    height: 20px;
}
.svg3{
    color: white;
    width: 10px;
    height: 8px;
}
.btn1{
    color: white;
    position: relative;
    left: 63vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid rgb(117, 114, 114);
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 15px;
    background-color: transparent;
    font-weight: 500;
    box-shadow:  inset 8px 6px 3px 10px black;
}
.btn2{
    padding: 7px 15px;
     border-radius: 5px;
    font-size: 15px;
    border: none;
    position: relative;
    left: 64vw;
    color: white;
    background-color: rgb(229, 9, 20);
}
.sec1{
    margin-top: 13vh;
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items{
    text-align: center;
    z-index: 1;
    
}
.item1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    padding: 0px;
    margin: 0px;
    font-weight: 900;
    line-height: 70px;
}
.item2{
    font-family:Arial, Helvetica, sans-serif;
     font-weight: 500;
    margin: 20px;
    font-size: 20px;
}
.item3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}
.item5{
    border-radius: 5px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    right: 20px;
    text-align: start;
    padding-right: 10vw;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: transparent;
    box-shadow: inset 0px 0px 20px 15px black;
}

.btn3{
    font-size:larger;
    font-weight: 530;
    white-space: nowrap;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    background-color: red;
    position: relative;
    right: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}
.trand{
    position: relative;
    height: 15vh;
    background-color: aqua;
    display: flex;
    align-items: end;
    margin-top: 15vh;
    border: 5px solid;
    border-color: rgb(148, 15, 15) black black;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-image: linear-gradient(rgb(25, 25, 100),black,black);
    
}
.trand1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    left: 10vw;
}
.banners{
   display: flex;
   align-items: center;
   justify-content: center;

}
.banner{
    display: flex;
}
.move1{
    border-radius: 5px;
    background-color: #2c2727;
    margin: 10px;
    width: 20px;
    height: 140px;
    align-self: center;
}
.ben{
    color: rgb(65, 65, 65);
    font-size: 100px;
    position: relative;
    left: 30px;
    top: 140px;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-weight: 700;
}
.move{
    border-radius: 10px;

}
.more{
    width: 80vw;
    margin: auto;
}
.more1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
}
.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    color: white;
    height: 260px;
    width: 300px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    
    
}
.boxh3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 10px ;
}
.boxp{
    color: rgba(255, 255, 255, 0.7);
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.boxsvg{
    filter: drop-shadow(9px 9px 60px rgb(255, 4, 159));
    position: relative;
    top: 10vh;
    right: 1vw;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}
body{
    background-color: black;
}
main{
    width: 80vw;
    margin: auto;
}
.sec3{
    color: white;
}
.div1h3{
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
}
.sec3div2{
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.sec3div2p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
footer{
    width: 80vw;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.foot h4{
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.foote{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
}
li{
    list-style: none;
    padding: 10px;
    font-size: 15px;
}
.English1{
    margin: 30px;
    width: 90px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid rgb(117, 114, 114);
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 15px;
}
.Net{
    font-size: 15px;
    font-weight: 400;
    margin: 30px;
}
.Net1{
    display: flex;
    margin-bottom: 100px;
}
.Net2{
    font-size: 13px;
    font-weight: 400;
}
@media screen and (max-width:1200px){
    .ben5{
        display: none;
    }
    .move5{
display: none;
    }
    
    
}
@media screen and (max-width:1020px){
    .banner4{
        display: none;
    }
    
    
}
@media screen and (max-width:780px){
    .banner3{
        display: none;
    }
    
    
}
@media screen and (max-width:550px){
    .banner2{
        display: none;
    }
    .foote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12vw;
}
    
    
}
@media screen and (max-width:860px) {
    .btn1{
       left: 49vw;
    }
    .btn2{
        left:50vw;

    }
    .svg1{
        width: 15vw;
    }
    
}
@media screen and (max-width:630px) {
    .btn1{
       left: 39vw;
    }
    .btn2{
        left:40vw;

    }
    .svg1{
        width: 16vw;
    }
    .item5{
        padding-right: 5px;
    }
    .btn3{
         padding-right: 2px;
    }
    .trand{
        margin-top: 0vh;
    }
    .cc{
        padding-right: 5px;
    }
    .dd{
         padding-right: 2px;
    }
    .input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header::before{
    content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-970-80.jpg.webp");
  background-size: cover;
  filter: brightness(30%); /* Apply brightness here */
  z-index: -1; /* Place the pseudo-element behind the content */
}
    
}
@media screen and (max-width:1260px) {
    .boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    

    
}
@media screen and (max-width:480px) {
    .btn1{
       left: 29vw;
    }
    .btn2{
        left: 30vw;

    }

    
}
@media screen and (max-width:1460px) {
     header::before{
    content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-970-80.jpg.webp");
  background-size: cover;
  filter: brightness(30%); /* Apply brightness here */
  z-index: -1; /* Place the pseudo-element behind the content */
}
    
}
@media screen and (max-width:540px) {
     header::before{
    content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-970-80.jpg.webp");
  background-size: cover;
  filter: brightness(30%); /* Apply brightness here */
  z-index: -1; /* Place the pseudo-element behind the content */
}
    
}

